*{
    margin: 0;
    padding: 0;
}
.container-md{
    display: block;
    margin:auto;
    padding: 50px;
}
.erroMessages{
    border: 1px solid black;
    background-color:grey;
}
form{
    display: block;
    margin:auto
} 
h1{
    text-align:center;
}
nav ul li{
    float: right;
}