<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard</title>
    </head>
    <body>
        <div class="container-md">
            <nav>
                <ul>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
            <main> 
                <div class=" row welcome">
                    <h1>Congrats, {{ user.first_name }} {{ user.last_name }}</h1>
                    <p><b>Welcome to your shows page!</b></p>
                </div>
                <div class=" row selected">
                    {% if selected_shows %}
                        <ul class="showsSelection">
                            {% for show in selected_shows %}
                                <li> {{ show.title }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class=" row recommended"></div>
            </main>
        </div>
        
    </body>
</html>
